!installation
ContentBroker/target/*
ContentBroker/mydb*
ContentBroker/deliverable*
ContentBroker/.settings
DAWeb/target/
DAWeb/target-eclipse/
DAWeb/application.properties
DAWeb/.settings/
PasswordEncryptor/target/
PasswordEncryptor/.settings/
deliverable.tar
.DS_Store
.thumbs_db
