<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/util
           http://www.springframework.org/schema/util/spring-util-3.0.xsd
           http://www.springframework.org/schema/task
           http://www.springframework.org/schema/task/spring-task-3.0.xsd">
       
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> 
		<property name="location">
			<value>src/test/resources/core/ContentBrokerTests/config.properties</value>
		</property>
	</bean>
       
    <bean id="contentBroker" class="de.uzk.hki.da.core.ContentBroker" init-method="init">
        <property name="taskExecutor" ref="taskExecutor" />
        <property name="actionFactory" ref="actionFactory" />
        <property name="serverSocketNumber" value="${cb.serverSocketNumber}" />
    </bean>
       
    <import resource="classpath*:META-INF/beans-actions.xml"/>
    <import resource="classpath*:META-INF/beans-actions-presentation.xml"/>
    <import resource="classpath*:META-INF/beans-infrastructure.xml"/>
           
    <task:executor id="taskExecutor"
    	pool-size="10"
    	queue-capacity="10"
        rejection-policy="CALLER_RUNS"/>
        
	<bean id="actionRegistry" class="de.uzk.hki.da.core.ActionRegistry">
		<property name="maxThreads">
			<util:map>
				<entry key="testAction" value="1"/>
				<entry key="testAction2" value="1"/>
			</util:map>
		</property>
			<property name="actionPriority">
			<util:list>
				<value>testAction</value>
				<value>testAction2</value>
			</util:list>
		</property>
	</bean>	
	
	<bean id="testAction" class="de.uzk.hki.da.cb.NullAction" scope="prototype">
		<property name="name" value="testAction" />
		<property name="startStatus" value="450" />
		<property name="endStatus" value="460" />
	</bean>

	<bean id="testAction2" class="de.uzk.hki.da.cb.NullAction" scope="prototype">
		<property name="name" value="testAction" />
		<property name="startStatus" value="350" />
		<property name="endStatus" value="360" />
	</bean>

</beans>
