<configuration scan="true">

	<!--  log4j configuration log4j configuration log4j  -->

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

     <appender name="GRID" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
		<file>log/grid.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/grid.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
	    <encoder>
	        <pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern>
	    </encoder>
	</appender>   
	
	<appender name="TIME_STAMP_ACTIONS_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
		<file>log/time_stamp_actions.csv</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/time_stamp_actions.%d{yyyy-MM-dd}.csv</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
	    <encoder>
	        <pattern>%msg%n</pattern>
	    </encoder>
	</appender>



    <appender name="WORKER" class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator>
			<key>worker_id</key>
			<defaultValue>contentbroker</defaultValue>
		</discriminator>
		<sift>
			<appender name="WORKER-${worker_id}" class="ch.qos.logback.core.rolling.RollingFileAppender">
		        <file>log/${worker_id}.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>log/${worker_id}.%d{yyyy-MM-dd}.log</fileNamePattern>
                    <maxHistory>30</maxHistory>
                </rollingPolicy>
	            <encoder>
	                <pattern>%d %level %logger{35} - %msg%n</pattern>
	            </encoder>
	        </appender>   
		</sift>
	</appender>
	<appender name="OBJECT" class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator>
			<key>object_id</key>
			<defaultValue>default-object-log</defaultValue>
		</discriminator>
		<sift>
			<appender name="CONTENTBROKER_LOG-${object_id}" class="ch.qos.logback.core.FileAppender">
				<file>log/object-logs/${object_id}.log</file>
				<encoder>
					<pattern>%d %level %logger{35} - %msg%n</pattern>
				</encoder>
			</appender>
		</sift>
	</appender>


        
    <logger name="de.uzk.hki.da"  additivity="false" level="INFO">
    	<appender-ref ref="OBJECT" />
	</logger>
	<logger name="de.uzk.hki.da.cb"  additivity="false" level="INFO">
    	<appender-ref ref="OBJECT" />
	</logger>
	<logger name="de.uzk.hki.da.core"  additivity="false" level="INFO">
		<appender-ref ref="WORKER" />
	</logger>
	<logger name="de.uzk.hki.da.action" additivity="false" level="INFO">
		<appender-ref ref="OBJECT" />
	</logger>
	<logger name="de.uzk.hki.da.service" additivity="false" level="INFO">
		<appender-ref ref="OBJECT" />
	</logger>
	<logger name="de.uzk.hki.da.event" additivity="false" level="INFO">
		<appender-ref ref="WORKER" />
	</logger>
	<logger name="org.hibernate" level="INFO">
		<appender-ref ref="OBJECT" />
	</logger>
	
	
	<logger name="de.uzk.hki.da.grid"  additivity="false" level="INFO">
		<appender-ref ref="GRID" />
	</logger>
	<logger name="de.uzk.hki.da.util.TimeStampLogging"  additivity="false" level="INFO">
		<appender-ref ref="TIME_STAMP_ACTIONS_LOG" />
	</logger>
	      
      <root level="OFF" />
</configuration>
